<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Лабораторная_работа__2.Параметры.connString" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=sales;Integrated Security=True;Pooling=False" />
        <add name="Лабораторная_работа__2.Settings1.connString" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=sales1;Integrated Security=True;Pooling=False"
            providerName="" />
    </connectionStrings>
</configuration>